@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), system-ui, sans-serif;
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

